{% load static %}
<!DOCTYPE html>
<html lang="en" class="d-flex h-100 align-items-center">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'backend_django_recipes/style.css' %}" />
        <title>About the Author</title>
    </head>
    <body>
        {% for element in authors %}
        <h1>Author: {{ element.name }}</h1>
        <br>
        <p><strong>About Me:</strong> {{ element.bio }}</p>
        {% endfor %}
        <br>
        <h2>My Recipes:</h2>
        {% for rec in recipes %}
        <ul>
            <li>
                <a href="/recipes/{{ rec.id }}/">{{ rec.title }}</a>
            </li>
        </ul>
        {% endfor %}
        <div class="row justify-content-center">
            <a href="/"><button>Go Home</button></a>
        </div>
    </body>
</html>
