<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>About the Author</title>
    </head>
    <body>
        {% for element in authors %}
        <h1>Author: {{ element.name }}</h1>
        <p><strong>About Me:</strong> {{ element.bio }}</p>
        {% endfor %}
        <h2>My Recipes:</h2>
        {% for rec in recipes %}
        <ul>
            <li>
                <a href="/recipes/{{ rec.id }}">{{ rec.title }}</a>
            </li>
        </ul>
        {% endfor %}

        <a href="/"><button>Go Home</button></a>
    </body>
</html>
