<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <h1>Recipe Glossary</h1>
        {% for rec in list %}
        <li>
            <a href="recipes/{{ rec.id }}">{{ rec.title }}</a>
            by
            <a href="author/{{ rec.author_id }}">{{ rec.author.name }}</a>
        </li>
        {% endfor %}
    </body>
</html>
