<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>About the Recipe</title>
    </head>
    <body>
        {% for element in recipes %}
        <h1>{{ element.title }}</h1>
        <p>
            <strong>Chef Extraordinaire:</strong>
            <a href="/author/{{ element.author_id }}">{{ element.author }}</a>
        </p>
        <p><strong>Description:</strong> {{ element.description }}</p>
        <p><strong>Time:</strong> {{ element.time_req }}</p>

        <!-- <pre>{{ element.instructions }}</pre> -->
        <p><strong>Instructions:</strong></p>
        <ol>
            {% for obj in instructions %}
            <li>{{ obj }}</li>
            {% endfor %}
        </ol>
        {% endfor %}

        <a href="/"><button>Go Home</button></a>
    </body>
</html>
